Repository brisbanesocialchess/brisbanesocialchess.github.io, pull requests merged in 2025-07, with the labels that each got.

#4 Add CODEOWNERS file with @jbampton as global owner in .github folder #2
  .github/CODEOWNERS
  .pre-commit-config.yaml
  assets/favicon.png
  index.html
  style.css
Labels: good first issue

#8 Max updates remove js, fix image lazylads
  index.html
  script.js
  style.css
Labels: good first issue, help wanted

#22 Update author name in theme.toml
  themes/brisbane-social-chess/theme.toml
Labels: good first issue

#31 feat: add .gitattributes file
  .gitattributes
Labels: good first issue

#43 Create MIT LICENSE
  LICENSE
Labels: documentation

#61 Start working to create `minutes.html`, move footer out of wrapper, Add minutes to header of all pages, add active class to active menu in header of pages, Adding HTML comment before footer section
  games.html
  index.html
  minutes.html
  register.html
  rules.html
  terms.html
Labels: documentation, help wanted, high-priority

#66 I am reviewing text again
  minutes.html
  rules.html
Labels: documentation

#77 Initial commit of cfsite in JS
  .github/workflows/wrangler.yml
  packages/cfsite/.editorconfig
  packages/cfsite/.gitignore
  packages/cfsite/.prettierrc
  packages/cfsite/.vscode/settings.json
  packages/cfsite/package-lock.json
  packages/cfsite/package.json
  packages/cfsite/src/index.js
  packages/cfsite/test/index.spec.js
  packages/cfsite/vitest.config.js
  packages/cfsite/wrangler.jsonc
Labels: enhancement

#80 Update README.md add Cloudflare playground link
  README.md
Labels: documentation

#83 Add Lerna JS
  .gitignore
  lerna.json
  package-lock.json
  package.json
Labels: enhancement, tests, high-priority

#84 Update README.md
  README.md
Labels: documentation

#85 Update wrangler.yml
  .github/workflows/wrangler.yml
Labels: bug, help wanted, tests, high-priority

#88 Move website files to `docs/` folder for GitHub Pages deployment
  docs/assets/apple-touch-icon.png
  docs/assets/bg.jpg
  docs/assets/favicon.png
  docs/assets/image01.jpg
  docs/assets/image02.jpg
  docs/assets/image03.jpg
  docs/assets/image05.jpg
  docs/assets/share.jpg
  docs/config.toml
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/style.css
  docs/terms.html
Labels: good first issue

#89 Wrangler Dependency Fixed
  .github/workflows/wrangler.yml
  packages/cfsite/wrangler.toml
Labels: good first issue

#90 Update wrangler.yml update node version
  .github/workflows/wrangler.yml
Labels: bug

#100 Max updates improve (Adding dprint config, Run linter on the project, create github action to run linter on push and new PR, include font in css not html, create 404 page, delete unused files)
  .github/lint-plugins/json.wasm
  .github/lint-plugins/markdown.wasm
  .github/lint-plugins/toml.wasm
  .github/lint-plugins/yaml.wasm
  .github/workflows/git-clone-matrix.yml
  .github/workflows/lint.yaml
  .github/workflows/pre-commit.yml
  .github/workflows/wrangler.yml
  .gitignore
  README.md
  backend/.keep
  docs/404.html
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/style.css
  docs/terms.html
  dprint.json
  index.md
  packages/cfsite/.vscode/settings.json
  packages/cfsite/package.json
  packages/cfsite/wrangler.jsonc
  themes/brisbane-social-chess/templates/base.html
  themes/brisbane-social-chess/templates/index.html
  themes/brisbane-social-chess/templates/page.html
  themes/brisbane-social-chess/theme.toml
Labels: enhancement, help wanted, tests, high-priority

#105 Create CONTRIBUTING.md
  CONTRIBUTING.md
Labels: documentation

#110 v3 to v4 Wrangler
  .github/workflows/wrangler.yml
  packages/cfsite/README.md
Labels: help wanted

#115 Revert "v3 to v4 Wrangler"
  .github/workflows/wrangler.yml
  packages/cfsite/README.md
Labels: bug

#112 fix: update HTML src to match renamed image file
  docs/assets/background-smaller.jpg
  docs/index.html
Labels: good first issue

#117 Add lerna test workflow
  .github/workflows/lerna.yml
Labels: tests

#120 Add feature: Renamed lint.yaml to dprint.yml
  .github/workflows/dprint.yml
Labels: good first issue

#119 Add feature: Nav header: rename How to Register to Register, in some …
  docs/games.html
  docs/index.html
  docs/register.html
  docs/rules.html
Labels: good first issue

#122 changed nav link text
  docs/terms.html
Labels: good first issue

#130 Add the pull request labeler #33
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: good first issue

#133 Update labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#134 Run pre-commit fix up
  .github/workflows/labeler.yml
Labels: good first issue

#135 Run dprint fix up
  .github/workflows/labeler.yml
Labels: good first issue

#136 Enhance pre-commit workflow with OS and Python version matrix
  .github/workflows/dprint.yml
  .github/workflows/git-clone-matrix.yml
  .github/workflows/labeler.yml
  .github/workflows/pre-commit.yml
Labels: ci

#145 Add basic /api/contact and /api/register endpoints to Cloudflare Worker
  .github/workflows/lerna.yml
  .gitignore
  backend/.keep
  package-lock.json
  package.json
  packages/cfsite/src/index.js
  packages/cfsite/test/index.spec.js
Labels: backend, ci, cfsite

#164 readme Heading center alignment
  README.md
Labels: documentation, good first issue

#168 Add oxipng and optimize images
  .pre-commit-config.yaml
  docs/assets/apple-touch-icon.png
  docs/assets/favicon.png
Labels: documentation, good first issue, tests

#171 Try adding some games to the static site
  docs/games.html
Labels: documentation, enhancement

#172 Update games.html
  docs/games.html
Labels: good first issue

#173 Update games.html
  docs/games.html
Labels: documentation

#182 Max Updates: Create test-lerna-runner.py, Fix .pre-commit-config to support Windows too, Run linter, Calling dprint in pre-commit, Installing dprint in pre-commit cicd, Adding codeql as CICD, Adding bandit as CICD)
  .github/workflows/bandit.yml
  .github/workflows/codeql.yml
  .github/workflows/dprint.yml
  .github/workflows/lerna.yml
  .github/workflows/pre-commit.yml
  .gitignore
  .pre-commit-config.yaml
  bandit.yaml
  docs/404.html
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/script.js
  docs/terms.html
  scripts/test-lerna.sh
Labels: documentation, ci, scripts, development

#190 Updated the MD file
  README.md
Labels: documentation

#203 Update labeler.yml
  .github/labeler.yml
Labels: infra

#205 Add Python 3.13 and remove 3.10
  .github/workflows/pre-commit.yml
Labels: ci, infra

#206 Order the labels in the pr labeler
  .github/labeler.yml
Labels: infra

#233 Improve CSS & Set min height for background-overlay, and height for container
  docs/style.css
Labels: documentation

#235 Add pre-commit hook to stop ZIPs being committed
  .pre-commit-config.yaml
Labels: development, chore, root, config

#239 Fix: center align text in blue buttons on home page
  docs/style.css
Labels: documentation

#245 Makefile updates and animations
  .github/workflows/scripts/chess_animation.py
  .github/workflows/scripts/chess_animation_2.py
  Makefile
Labels: infra, root

#248 Add missing Python shebangs
  .github/workflows/scripts/chess_animation.py
  .github/workflows/scripts/chess_animation_2.py
Labels: infra

#253 Move python scripts
  scripts/chess_animation.py
  scripts/chess_animation_2.py
Labels: scripts

#254 Update Makefile
  Makefile
Labels: root

#262 Update chess_animation.py
  scripts/chess_animation.py
Labels: scripts
