Repository brisbanesocialchess/brisbanesocialchess.github.io, pull requests merged in 2025-09, with the labels that each got.

#538 Add new locations image
  frontend/assets/locations.jpg
Labels: frontend

#540 Update meetup-wednesday.md
  frontend/meetup-wednesday.md
Labels: frontend

#542 Update meetup-saturday.md
  frontend/meetup-saturday.md
Labels: frontend

#544 Update minutes.md
  frontend/minutes.md
Labels: frontend

#527 fix CVE related to devalue
  .pre-commit-config.yaml
  .prettierignore
  package-lock.json
  package.json
  packages/cfsite/package-lock.json
Labels: dependencies, chore, root, backend

#552 Potential fix for code scanning alert no. 2: Workflow does not contain permissions
  .github/workflows/wrangler.yml
Labels: ci, infra

#556 pre-commit: add flake8, mypy and pylint
  .github/linters/.flake8
  .github/linters/.pylintrc
  .github/workflows/pre-commit.yml
  .pre-commit-config.yaml
  doc/source/conf.py
  pyproject.toml
  requirements.txt
  scripts/chess_animation.py
  scripts/chess_animation_2.py
Labels: documentation, ci, scripts, infra, chore, root

#559 Working on hamburger menu #558
  frontend/_data/navigation.json
  frontend/_includes/layouts/base.njk
  frontend/assets/script.js
Labels: frontend

#570 Fix CHECKOV Docker security issues (#554)
  Dockerfile
Labels: root

#582 Update prettierignore and run
  .eleventy.js
  .prettierignore
  frontend/assets/script.js
  frontend/vite.config.js
  tailwind.config.js
  vite.config.js
Labels: root, frontend

#589 Add eslint ignore for the Sphinx doc folder
  .github/linters/eslint.config.mjs
  package.json
Labels: dependencies, infra, root

#591 Update README.md fix read the docs button link
  README.md
Labels: documentation, root

#602 Update .deepsource.toml
  .deepsource.toml
Labels: root

#604 Update pyproject.toml add isort
  pyproject.toml
Labels: root

#603 Update .deepsource.toml add transformer for isort
  .deepsource.toml
Labels: root

#606 Update `.deepsource.toml` add the `prettier` transformer
  .deepsource.toml
Labels: root

#612 Simplify prettier add config to package.json
  .github/linters/.prettierrc
  .pre-commit-config.yaml
  package.json
Labels: dependencies, infra, chore, root

#619 Update README.md add Deepsource issue status buttons
  README.md
Labels: documentation, root

#620 Use the standard YAML config file for markdownlint
  .github/linters/.markdown-lint.yml
  .github/linters/.markdownlint.json
  .pre-commit-config.yaml
Labels: infra, chore, root

#627 Update README.md
  README.md
Labels: documentation, root

#629 Update README.md
  README.md
Labels: documentation, root

#630 Create .markdownlintignore
  .markdownlintignore
Labels: root

#635 Update .pre-commit-config.yaml markdown-lint settings
  .pre-commit-config.yaml
Labels: chore, root

#661 ui: added the avatar section for the new developers
  frontend/about.md
Labels: frontend

#659 exclude cfsite from monorepo
  package-lock.json
  package.json
Labels: dependencies, root

#663 Update about.md
  frontend/about.md
Labels: frontend

#664 Update about.md
  frontend/about.md
Labels: frontend

#670 Local avatars more
  frontend/about.md
  frontend/assets/avatars/matt.jpeg
  frontend/assets/avatars/octocat.png
  frontend/assets/avatars/octoman.png
  frontend/meetups/friday.md
  frontend/meetups/saturday.md
  frontend/meetups/sunday.md
  frontend/meetups/thursday.md
  frontend/meetups/wednesday.md
Labels: frontend

#681 Working on tailwindcss issues #680
  frontend/about.md
  frontend/assets/styles/custom.css
  frontend/assets/tailwind.css
  frontend/index.md
  frontend/meetup.md
Labels: frontend

#687 Change email
  frontend/assets/scripts/script.js
Labels: frontend

#692 Add code coverage GitHub Action
  .github/workflows/coverage.yml
Labels: ci, infra

#693 Create codecov.yml
  codecov.yml
Labels: root

#694 Update coverage action
  .github/workflows/coverage.yml
Labels: ci, infra

#695 Update README.md add Codecov status button
  README.md
Labels: documentation, root

#696 README: reorder status buttons and add Codecov graph
  README.md
Labels: documentation, root

#697 Configure `codecov.yml`
  codecov.yml
Labels: root

#699 Update coverage.yml add emoji to workflow
  .github/workflows/coverage.yml
Labels: ci, infra

#703 Update coverage.yml use `npm install` instead of `npm ci`
  .github/workflows/coverage.yml
Labels: ci, infra

#705 Update wrangler.yml change to `npm install`
  .github/workflows/wrangler.yml
Labels: ci, infra

#691 refactor: function randomColor returns array
  frontend/assets/scripts/script.js
Labels: frontend

#708 Configure Codecov
  codecov.yml
Labels: root

#710 Validate codecov.yml file with curl
  codecov.yml
Labels: bug, root

#715 Update deploy-eleventy-site-on-pr.yml add name to job
  .github/workflows/deploy-eleventy-site-on-pr.yml
Labels: ci, infra

#713 Configure codecov.yml add range update target
  codecov.yml
Labels: root

#716 Update `codecov.yml` add `flags`
  codecov.yml
Labels: root

#334 Create `super-linter.yml`: A combination of multiple linters to run a…
  .github/linters/.hadolint.yaml
  .github/linters/.jscpd.json
  .github/workflows/super-linter.yml
  CONTRIBUTING.md
  README.md
Labels: documentation, ci, infra, root

#720 Update about.md fix Adams color and role
  frontend/about.md
Labels: frontend

#723 Update about.md use Benjamin not Ben
  frontend/about.md
Labels: frontend

#724 README: reorder status buttons
  README.md
Labels: documentation, root

#651 Game Page game Bug
  frontend/games.md
Labels: frontend

#741 Revert "Fix: Prevent Vite from generating unnecessary JS files for images"
  vite.config.js
Labels: root

#750 Global moderators sorted alphabetically by name
  frontend/about.md
Labels: frontend

#762 Update codeql.yml add emoji to job name
  .github/workflows/codeql.yml
Labels: ci, infra

#764 Fix moderators colors
  frontend/assets/tailwind.css
Labels: frontend

#766 Try to fix zizmor
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy-eleventy-site-on-pr.yml
  .github/workflows/deploy-eleventy-site.yml
  .github/workflows/docker-ci.yml
  .github/workflows/dprint.yml
  .github/workflows/first-interaction.yml
  .github/workflows/git-clone-matrix.yml
  .github/workflows/labeler.yml
  .github/workflows/lerna.yml
  .github/workflows/ls-lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/super-linter.yml
  .github/workflows/wrangler.yml
Labels: ci, infra

#773 Fix dark mode background
  frontend/_includes/layouts/base.njk
  frontend/assets/styles/custom.css
  frontend/register.md
Labels: frontend

#778 Update index.md fix chess dot com link
  frontend/index.md
Labels: frontend
