Repository brisbanesocialchess/brisbanesocialchess.github.io, pull requests merged in 2025-10, with the labels that each got.

#783 Added docker and proselint workflow badges
  README.md
Labels: documentation, low-priority, root, hacktoberfest, hacktoberfest-accepted, markdown

#785 Sorted workflows in alphabetical orders
  README.md
Labels: documentation, root, hacktoberfest, hacktoberfest-accepted

#789 Sorted all technologies in alphabetical order
  README.md
Labels: documentation, good first issue, low-priority, chore, root, hacktoberfest, hacktoberfest-accepted, markdown

#790 Update README.md and `Inc` to our name
  README.md
Labels: documentation, root

#796 Add Super-Linter status badge to README
  README.md
Labels: documentation, good first issue, low-priority, chore, root, hacktoberfest, hacktoberfest-accepted, markdown

#798 Update README.md update workflow status buttons
  README.md
Labels: documentation, good first issue, low-priority, chore, root, markdown

#807 Update About page with unified Team Members & Organizers table
  frontend/about.md
Labels: good first issue, high-priority, frontend, hacktoberfest, hacktoberfest-accepted, markdown, css

#812 fix: make global moderators section responsive on about page
  frontend/about.md
Labels: good first issue, high-priority, frontend, hacktoberfest, hacktoberfest-accepted, markdown, css

#815 fix: match Thomas avatar size to Max Base on about page
  frontend/about.md
Labels: good first issue, frontend, hacktoberfest, hacktoberfest-accepted, css

#845 Rename to requirements-dev.txt
  .deepsource.toml
  .github/workflows/pre-commit.yml
  CONTRIBUTING.md
  DEVELOPER_HELP.md
  Makefile
  requirements-dev.txt
Labels: documentation, ci, infra, root

#846 Fix pre-commit
  frontend/about.md
Labels: good first issue, frontend, markdown
