Repository brisbanesocialchess/brisbanesocialchess.github.io, pull requests merged in 2025-08, with the labels that each got.

#137 Add Code of Conduct to promote inclusive community standards
  .github/CODE_OF_CONDUCT.md
Labels: good first issue, high-priority, infra

#267 Add black
  .pre-commit-config.yaml
  scripts/chess_animation.py
  scripts/chess_animation_2.py
Labels: scripts, chore, root

#268 Update index.html
  docs/index.html
Labels: documentation

#270 Update homepage
  docs/index.html
  docs/style.css
Labels: documentation

#280 Homepage html fixes for aria
  docs/index.html
Labels: documentation

#281 Update homepage
  docs/index.html
  docs/style.css
Labels: documentation

#288 Add doctoc hook
  .github/linters/.markdownlint.json
  .pre-commit-config.yaml
  CONTRIBUTING.md
  README.md
Labels: documentation, infra, chore, root

#289 Add zip hook
  .pre-commit-config.yaml
Labels: chore, root

#293 pre-commit updates
  .pre-commit-config.yaml
Labels: chore, root

#294 Update `pre-commit.yml` remove `windows-latest`
  .github/workflows/pre-commit.yml
Labels: ci, infra

#295 Add codespell
  .github/linters/codespell.txt
  .pre-commit-config.yaml
Labels: infra, chore, root

#297 Add about page
  docs/about.html
  docs/contact.html
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/terms.html
Labels: documentation

#299 more about page
  docs/about.html
Labels: documentation

#301 Update about.html
  docs/about.html
Labels: documentation

#302 Update contact page styles
  docs/contact.html
  docs/style.css
Labels: documentation

#303 Update about.html
  docs/about.html
Labels: documentation

#304 HTML updates
  docs/404.html
  docs/about.html
  docs/contact.html
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/terms.html
Labels: documentation

#305 About page updates
  README.md
  docs/about.html
  docs/style.css
Labels: documentation, root

#306 About page more
  .pre-commit-config.yaml
  docs/about.html
  docs/assets/images/brisbane-social-chess.jpg
  docs/assets/images/harmegedo-the-board-of-lords-at-the-garden-room.jpg
  docs/assets/images/never-underestimate-the-power-of-jedi-master-big-bird-1.jpg
  docs/assets/images/never-underestimate-the-power-of-jedi-master-big-bird-2.jpg
  docs/assets/images/quaternity-1.png
  docs/assets/images/quaternity-2.png
  docs/assets/images/quaternity-3.png
  docs/assets/images/quaternity-4.png
  docs/assets/images/standard-4-player-chess.jpg
  docs/index.html
Labels: documentation, chore, root

#307 More
  docs/about.html
  docs/index.html
  docs/style.css
Labels: documentation

#309 Location maps
  docs/index.html
Labels: documentation

#310 Update about page
  .github/linters/codespell.txt
  docs/about.html
  docs/style.css
Labels: documentation, infra

#312 Update about page
  docs/about.html
  docs/style.css
Labels: documentation

#316 Store JS in one file
  docs/games.html
  docs/script.js
Labels: documentation

#317 Clean up pre-commit config
  .pre-commit-config.yaml
  docs/index.html
Labels: documentation, chore, root

#319 Add leadership colors on the about page
  docs/about.html
Labels: documentation

#320 Use correct avatar links
  docs/about.html
Labels: documentation

#323 Update README.md add first badge
  README.md
Labels: documentation, root

#324 Update README.md add wrangler build button
  README.md
Labels: documentation, root

#325 Update README.md add labeler workflow button
  README.md
Labels: documentation, root

#327 Update README.md add codeql workflow button
  README.md
Labels: documentation, root

#328 Update README.md add lerna workflow button
  README.md
Labels: documentation, root

#329 Update README.md add ls-lint workflow button
  README.md
Labels: documentation, root

#330 Update README.md add git clone matrix workflow button
  README.md
Labels: documentation, root

#340 Add Python isort with pre-commit
  .pre-commit-config.yaml
  scripts/chess_animation.py
  scripts/chess_animation_2.py
Labels: scripts, chore, root

#341 [CI] Run hook stage manual
  .github/workflows/pre-commit.yml
Labels: ci, infra

#343 Max big updates
  .github/workflows/pr-deploy-preview.yml
  .pre-commit-config.yaml
  docs/404.html
  docs/about.html
  docs/contact.html
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/script.js
  docs/style.css
  docs/terms.html
  packages/cfsite/src/index.js
  packages/cfsite/test/index.spec.js
  pelicanconf.py
Labels: documentation, tests, ci, infra, chore, root, backend

#348 Run pre-commit
  .github/workflows/pr-deploy-preview.yml
  .pre-commit-config.yaml
  docs/404.html
  docs/about.html
  docs/contact.html
  docs/games.html
  docs/index.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/style.css
  docs/terms.html
  packages/cfsite/test/index.spec.js
Labels: documentation, tests, ci, infra, chore, root, backend

#272 Max updates on the way of travel to home
  .github/workflows/pr-deploy-preview.yml
  .prettierignore
  Dockerfile
  README.md
  docs/contact.html
  docs/games.html
  docs/index.html
  docs/meetup-friday.html
  docs/meetup-monday.html
  docs/meetup-thursday.html
  docs/meetup-tuesday.html
  docs/meetup-wednesday.html
  docs/meetup.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/style.css
  docs/terms.html
  packages/cfsite/.editorconfig
  packages/cfsite/src/index.js
  packages/cfsite/test/index.spec.js
  pelicanconf.py
Labels: documentation, tests, ci, infra, root, backend

#286 docs: enhance pre-commit setup instructions for contributors
  CONTRIBUTING.md
Labels: documentation, root, GitHub Sponsors $5

#353 Update README.md add site status button
  README.md
Labels: documentation, root

#355 Update README.md update workflow buttons
  README.md
Labels: documentation, root

#356 Max updates john list before deadline (DRAFT FOR NOW)
  docs/404.html
  docs/about.html
  docs/contact.html
  docs/games.html
  docs/index.html
  docs/meetup-friday.html
  docs/meetup-thursday.html
  docs/meetup-tuesday.html
  docs/meetup.html
  docs/minutes.html
  docs/register.html
  docs/rules.html
  docs/terms.html
Labels: documentation

#357 Add First Interaction action to welcome first-time contributors
  .github/workflows/first-interaction.yml
  docs/script.js
Labels: documentation, ci, infra

#361 Update README.md add commit activity button
  README.md
Labels: documentation, root

#362 Update README.md add first interaction button
  README.md
Labels: documentation, root

#368 Update README.md add good first issue button
  README.md
Labels: documentation, root

#370 Update README.md add a project board button
  README.md
Labels: documentation, root

#384 Add doc folder
  .readthedocs.yaml
  doc/Makefile
  doc/make.bat
  doc/source/_static/images/logo.jpeg
  doc/source/conf.py
  doc/source/getting-started.rst
  doc/source/how-does-the-horsey-move-again.rst
  doc/source/index.rst
  requirements-docs.txt
Labels: root

#387 Update .readthedocs.yaml
  .readthedocs.yaml
Labels: root

#392 Update README.md
  README.md
Labels: documentation, root

#396 Lint fix up
  .github/dependabot.yml
Labels: infra

#402 Add info to the README
  .github/linters/.markdownlint.json
  README.md
Labels: documentation, infra, root

#411 Run pre-commit fix ups
  .github/CODE_OF_CONDUCT.md
  .github/linters/.markdownlint.json
  .pre-commit-config.yaml
Labels: infra, chore, root

#423 labeler.yml: reassign new `frontend` site to `frontend` label
  .github/labeler.yml
Labels: infra

#431 SEO: Update page titles for better search visibility
  frontend/404.md
  frontend/about.md
  frontend/categories/category.njk
  frontend/contact.md
  frontend/games.md
  frontend/index.md
  frontend/meetup-friday.md
  frontend/meetup-monday.md
  frontend/meetup-saturday.md
  frontend/meetup-sunday.md
  frontend/meetup-thursday.md
  frontend/meetup-wednesday.md
  frontend/meetup.md
  frontend/minutes.md
  frontend/posts/first-post.md
  frontend/register.md
  frontend/rules.md
  frontend/tags/tag.njk
  frontend/terms.md
Labels: frontend

#433 Fix `first-interaction.yml` workflow: use correct keys
  .github/workflows/first-interaction.yml
Labels: ci, infra

#436 Add official Read the Docs build badge to README
  README.md
Labels: documentation, root

#438 Update README.md add more tech stack info; update info on how to build the site
  README.md
Labels: documentation, root

#442 Add meetup page details
  frontend/about.md
  frontend/index.md
  frontend/meetup-friday.md
  frontend/meetup-monday.md
  frontend/meetup-saturday.md
  frontend/meetup-sunday.md
  frontend/meetup-wednesday.md
Labels: frontend

#443 Add more CSS role colors
  frontend/about.md
  frontend/assets/style.css
Labels: frontend

#445 Fix up Jimmy styles
  frontend/about.md
Labels: frontend

#446 HTML work about and index pages
  frontend/about.md
  frontend/index.md
Labels: frontend

#449 Fix authors links
  frontend/about.md
Labels: frontend

#448 fix: Improve mobile nav link spacing and size for better tap targets
  .github/linters/.prettierrc
  frontend/assets/style.css
Labels: high-priority, infra, frontend

#452 CSS responsive GitHub avatars
  frontend/about.md
  frontend/assets/style.css
Labels: frontend

#454 Max updates responsive + Docker for 11ty + Fix pre-commit + Tab idents
  Dockerfile
  frontend/404.md
  frontend/about.md
  frontend/assets/style.css
  frontend/contact.md
  frontend/games.md
  frontend/index.md
  frontend/meetup-friday.md
  frontend/meetup-monday.md
  frontend/meetup-saturday.md
  frontend/meetup-sunday.md
  frontend/meetup-wednesday.md
  frontend/meetup.md
  frontend/minutes.md
  frontend/register.md
  frontend/rules.md
  package-lock.json
  packages/cfsite/test/index.spec.js
Labels: tests, root, frontend, backend

#419 docs: add clear developer help for local development and Eleventy usa…
  DEVELOPER_HELP.md
  README.md
Labels: documentation, root

#462 Initial tailwindcss and table UI change
  .github/workflows/deploy-eleventy-site.yml
  README.md
  frontend/_includes/layouts/base.njk
  frontend/about.md
  frontend/assets/style.css
  frontend/tailwind.css
  package-lock.json
  package.json
Labels: documentation, ci, dependencies, infra, root, frontend, GitHub Sponsors $5

#465 Update .gitignore
  .gitignore
Labels: bug, chore, root

#466 add build tailwind command for cicd
  .github/workflows/deploy-eleventy-site-on-pr.yml
  .github/workflows/deploy-eleventy-site.yml
  .gitignore
  Dockerfile
Labels: ci, infra, chore, root

#472 Fix the aspect ratio
  frontend/about.md
Labels: frontend

#474 Fix: Replaced shields.io buttons with Github buttons
  README.md
Labels: documentation, root

#473 Fix GitHub team avatar sizes on about page
  frontend/about.md
Labels: frontend

#476 Max updates tailwindcss continue - Improve styles
  frontend/404.md
  frontend/_includes/layouts/base.njk
  frontend/about.md
  frontend/contact.md
  frontend/games.md
  frontend/index.md
  frontend/meetup-friday.md
  frontend/meetup-monday.md
  frontend/meetup-saturday.md
  frontend/meetup-sunday.md
  frontend/meetup-thursday.md
  frontend/meetup-wednesday.md
  frontend/meetup.md
  frontend/minutes.md
  frontend/register.md
  frontend/rules.md
  frontend/sitemap.xml
  frontend/terms.md
Labels: frontend

#502 Update README.md
  README.md
Labels: documentation, root

#503 Update README.md
  README.md
Labels: documentation, root

#504 Update README.md
  README.md
Labels: documentation, root

#458 Fix pre-commit Dockerfile On Mac M2
  Dockerfile
  README.md
Labels: documentation, root

#512 Complete about page - add missed section, remove invalid links (books)
  frontend/about.md
Labels: frontend

#515 Improve style of table in about us page - responsive all tables
  DEVELOPER_HELP.md
  README.md
  frontend/about.md
  frontend/index.md
  frontend/rules.md
  frontend/terms.md
  tailwind.config.js
Labels: documentation, root, frontend

#519 Build tailwindcss - custom colors - setup tailwindcss in a right way for new version V4 - add border for avatars
  frontend/about.md
  frontend/tailwind.css
  frontend/vite.config.js
  package.json
  tailwind.config.js
  vite.config.js
Labels: dependencies, root, frontend

#522 fix site building
  frontend/index.html
Labels: frontend

#529 Added Social Link
  frontend/index.md
Labels: frontend

#530 Update index.md order social site links
  frontend/index.md
Labels: frontend

#533 Working on about page + some improvnment on tailwind.css (Max updates 8 31 2025 3)
  frontend/about.md
  frontend/tailwind.css
Labels: frontend
